body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background:#fff;
    margin:0;
    padding:0;
}
/* Links */
a{
    color:#f37022;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}
a:hover{
    color:#000;
}
/* Titles */
h1, h2, h3{
    letter-spacing:-1px;
}

/* Form controlls  */
input, select, textarea, button {
    padding: 15px;
    border: 1px solid #cccc;
    border-radius: 3px;
    box-shadow: 0 0 10px #0000001c;
    color:#f37022;
    font-size:14px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    transition:         all .3s ease-in-out;   
    outline: none; 
    margin: 2px;
}
input, select, textarea{
    flex: 1;
    display: flex;
    width:400px;
}
input:hover, select:hover, textarea:hover{
    border-color:#f37022;
}
button{
    cursor:pointer;
    background:#f37022;
    color:#fff;
    font-weight: bold;
}
button:hover{
    background:#ffab2c;
}

/* Scrolls */
::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
	/* Transition */
	-webkit-transition: all 0.3s ease-in-out;	
	transition: all 0.3s ease-in-out;	
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
	cursor:default;
	/* Transition */
	-webkit-transition: all 0.3s ease-in-out;	
	transition: all 0.3s ease-in-out;		
}

hr {
    height: 1px;
    border: 0;
    background: #e2e2e2;
    padding: 0;
    margin: 50px 0px;
}

/* Header */
.header{
    background: #fffdc8 url(../assets/headerBg.png);
    padding: 30px;
    border-top: 10px solid #f37022;
    display: flex;
    flex: 1;
    justify-content: space-between;
    box-shadow: inset 0px -20px 20px #00000021;
}
    .header img{
        max-height: 200px;
        width:auto;
    }

/* Main Menu */
nav.menu {
    font-size: 16px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    nav.menu a{
        color: #fff;
        text-decoration: none;
        background: #f37022;
        padding: 5px 20px;
        border-radius: 5px;
        margin: 5px;
        display: flex;
        align-items: center;
        text-align: center;
        box-shadow: 0px 0px 10px #0000001f;
    }
    nav.menu a:hover{
        text-decoration: none;
        color:#fff;
        background: #000;
        box-shadow: 0px 0px 2px #0000008f;
        transform: rotate(10deg) scale(1.2);
    }
    /* Shopcart link */
    nav.menu a.mnuShopcart {
        background: transparent;
        box-shadow: none;
        padding: 0;
    }
    nav.menu a.mnuShopcart:hover {
        background: transparent;
        box-shadow: none;
        padding: 0;
        transform: rotate(10deg) scale(1.5);
    }
        nav.menu a.mnuShopcart img{
            width:60px;
        }
    /* Menu itens : user logged */
    body nav.menu .mnuLogout, 
    body nav.menu .mnuAccount {
        display: none;
    }
    body.loggedin nav.menu .mnuSignup,
    body.loggedin nav.menu .mnuLogin{
        display: none;
    }
    body.loggedin nav.menu .mnuLogout, 
    body.loggedin nav.menu .mnuAccount {
        display: flex;
    }    

/* Content */
.wrapper {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 60px;
}
    .content{
        display: flex;
        flex:1;
    }
        /*** PAGES ***/
        .pageHome{
            text-align: center;
            flex: 1;
        }
        
/* View Pizzas */
section.item {
    float: left;
    width: 25%;
    display: block;
    overflow: hidden;
    margin: 0px 50px;
    padding-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
    -ms-transition:     all 0.3s ease-in-out;
    transition:         all 0.3s ease-in-out;   
    cursor:pointer; 
}
section.item:hover {
    box-shadow: 0 0 20px #0000001f;
    border-radius: 4px;
}
    section.item .featured-img img {
        width: 100%;
    }
    section.item .featured-img {
        height: 400px;
        margin: 20px;
    }    
    section.item h3 {
        height: 70px;
    }    
    .btn-order:hover {
        color: #fff;
        background: #f37022;
    }
    .btn-order {
        background: #ffab2c;
        padding: 10px 20px;
        display: inline-block;
        border-radius: 4px;
        box-shadow: 0 0 10px #0000003b;
        color: #fff;
        text-decoration: none;
        margin: 10px;
    }
    a:hover {
        color: #000;
    }    


/* Form error */
.error {
    color: #f00;
}

/* Footer */
.footer .copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    color: #666;
    padding: 70px;
}