    <!-- Signup : start -->
    <div class="pageSignup">
        <h1>Signup</h1>
        <p>Fill the fields below to create your account and ask our pizzas.</p>
        <form>
            <input type="text" placeholder="Name"/>
            <input type="email" placeholder="Your best E-mail"/>
            <input type="password" placeholder="A hard password"/>
            <input type="text" placeholder="Your full address"/>
            <button>Continue ></button>
        </form>
    </div>
    <!-- Signup : end -->